{% extends 'base.html' %}

{% block head %}
    <title>Account Details</title>
{% endblock %}

{% block body %}

{% if user_details %}
    <!-- <img src="http://localhost/Users/Sazan/Desktop/DB Project tests/django_sentdex/mysite/media/Capture_LI_7rCpIAD.jpg" alt="Profile Image"/> -->
    <!-- <img src={{img_src}} alt="Profile Image"/> -->
    <!-- <img src="Capture_LI_7rCpIAD.jpg"/> -->
    <p>Profile Pic</p>
    <a href='{% url "friend_list" user_id=user_details.USER_ID %}' class="btn btn-outline-success">
        Friend list of {{user_details.USERNAME}}
    </a>
    <a href='{% url "related_people" user_id=user_details.USER_ID %}' class="btn btn-outline-success">
        Followers and Following list
    </a>
    {% if my_id != user_details.USER_ID %}
        <a href='{% url "post" user_id=user_details.USER_ID %}' class="btn btn-outline-success">
            Post on {{user_details.USERNAME}}'s wall
        </a>
        <a href='{% url "message_user" uid=user_details.USER_ID %}' class="btn btn-outline-danger">
            Message {{user_details.USERNAME}}
        </a>
        {% if relation == "friend" %}
        <i class="text-muted"><br>You two are Friends<br>
            <small class="text_muted">(Want to unfriend {{user_details.USERNAME}}?)</small>
            <br>
            <a href='{% url "delete_friend" user_id=user_details.USER_ID %}' class="btn btn-outline-danger">
                Unfriend {{user_details.USERNAME}}
            </a>
            <br>
        </i>
        {% elif relation != "friend" and relation != "follow" and relation != "blocked" %}
        <a href='{% url "add_friend" user_id=user_details.USER_ID %}' class="btn btn-outline-danger">
            Add {{user_details.USERNAME}}
        </a>
        {% endif %}
    {% else %}
        <a href='{% url "post" user_id=user_details.USER_ID %}' class="btn btn-outline-danger">
            whats on your mind?
        </a>
        <a href='{% url "deactivate_account" %}' class="btn btn-outline-danger">
            Deactivate Account
        </a>
    {% endif %}
    <br>
    <table class="table table-dark table-hover table-sm">
        <tr><th>User Name</th><th>{{user_details.USERNAME}} (<b><i>{{user_details.ONLINE_CHECK}}</i></b>)</th></tr>
        <tr><td>First Name</td><td>{{user_details.FIRST_NAME}}</td></tr>
        <tr><td>Last Name</td><td>{{user_details.LAST_NAME}}</td></tr>
        <tr><td>Date of birth</td><td>{{user_details.DATE_OF_BIRTH}}</td></tr>
        <tr><td>Gender</td><td>{{user_details.GENDER}}</td></tr>
        <tr><td>Email</td><td>{{user_details.EMAIL}}</td></tr>
        <tr><td>Nationality</td><td>{{user_details.NATIONALITY}}</td></tr>
        <tr><td>Relationship status</td><td>{{user_details.RELATIONSHIP_STATUS}}</td></tr>
        <tr><td>Language</td><td>{{user_details.LANGUAGE}}</td></tr>
        <tr><td>Occupation</td><td>{{user_details.OCCUPATION}}</td></tr>
        <tr><td>Current eduction</td><td>{{user_details.EDUCATION_CURRENT}}</td></tr>
    </table>
{% else %}
<h1>No user.</h1>
{% endif %}
{% endblock %}