{% extends 'base.html' %}

{% block head %}
    <title>Connectivity</title>
{% endblock %}

{% block body %}
<div class="container">

    <a href='{% url "friend_list" user_id=my_id %}' class="btn btn-outline-danger">
        My Friend List
    </a>
    <hr>
    <a href='{% url "related_people" user_id=my_id %}' class="btn btn-outline-danger">
        Followers and Following list
    </a>
    <hr>
    <a href='{% url "friend_request" %}' class="btn btn-outline-danger">
        Friend Request
    </a>
    <hr>
</div>
{% endblock %}