{% extends 'base.html' %}

{% block head %}
    <title>Friend Deleted</title>
{% endblock %}

{% block body %}

<div class="container">
    <h3>
        <i>You deleted <a href='{% url "account_details" user_id=u_id %}' >{{username}}</a>.</i>
    </h3>
    <br>
    <h5><i>Go back to the <a href='{% url "relation_home" %}' class="btn btn-outline-success">Connectivity</a></i></h5>
</div>
{% endblock %}