{% extends 'base.html' %}

{% block head %}
    <title>Friend Request</title>
{% endblock %}

{% block body %}

{% if follower_list%}
<ul>
    <h3><i>These people sent you friend request!:<hr></i></h3>
        {% for user in follower_list %}

            <a href='{% url "account_details" user_id=user.USER_ID %}' class="btn btn-outline-default">{{user.USERNAME}}</a>
            <a href='{% url "request_accept" user_id=user.USER_ID %}' class="btn btn-outline-success">Accept</a>
            <a href='{% url "request_reject" user_id=user.USER_ID %}' class="btn btn-outline-danger">Reject</a>
        <br>
        <br>
        {% endfor %}
    <hr>
</ul>
{% else %}
<h1>No user.</h1>
{% endif %}
{% endblock %}