{% extends 'base.html' %}

{% block head %}
    <title>Not Logged In!</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="">You are not logged in!!</h1>
        <br>
        <p class="text-muted">Want to login?</p>
        <a href='{% url "login" %}' class="btn btn-outline-success">
            Go to Login Page
        </a>
    </div>
{% endblock %}