{% extends 'base.html' %}

{% block head %}
    <title>HOME</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 align="center"><i>Home</i></h1><hr>
    <div class="container">
        <small class="text-muted">Show My profile!.</small><br>
        <a href='{% url "account_details" user_id=USER_ID %}' class="btn btn-outline-success">
            My Profile
        </a>
        <hr>
        <small class="text-muted">My friends, followers and others connected to me.</small>
        <br>
        <a href='{% url "relation_home" %}' class="btn btn-outline-success">
            Connectivity
        </a>
        <hr>
        <small class="text-muted"><i>What on your mind?</i></small><br>
        <a href='{% url "post" user_id=USER_ID %}' class="btn btn-outline-success">
            Post a Status
        </a>
        <hr>
        <small class="text-muted"><i>See what other people are posting!</i></small><br>
        <a href='{% url "all_posts" %}' class="btn btn-outline-success">
            Show All Posts
        </a>
        <hr>
        <a href='{% url "all_group_list" %}' class="btn btn-outline-danger">
            Groups
        </a>
        <hr>
        <a href='{% url "all_event_list" %}' class="btn btn-outline-danger">
            Events
        </a>
        <!-- <a href='{% url "event_invitations" %}' class="btn btn-outline-danger">
            Event Invitations
        </a> -->
        <hr>
        <a href='{% url "messenger" %}' class="btn btn-outline-dark">
            Messenger
        </a>
        <hr>
        <a href='{% url "logout" %}' class="btn btn-outline-danger">
            Logout!
        </a>

    </div>
</div>
{% endblock %}