{% extends 'base.html' %}

{% block head %}
    <title>LOGIN</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Login Here:</h1><hr>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-outline-danger" type="reset">Reset</button>
            <hr>
            {{form.as_p}}
            <button class="btn btn-outline-success" type="submit">login</button>
        </form>
        <hr>
        <a href='{% url "registration" %}' class="btn btn-outline-success">
            Go to Sign up
        </a>
        <hr>
    </div>
{% endblock %}