{% extends 'base.html' %}

{% block head %}
    <title>LOGIN FAILURE</title>
{% endblock %}

{% block body %}'
    <div class="container">
        <h3>Login Failed</h3>
        <hr>
        <a href='{% url "login" %}' class="btn btn-outline-success">
            Go to Login Page
        </a>

    </div>
{% endblock %}