{% extends 'base.html' %}

{% block head %}
    <title>LOGIN SUCCESS</title>
{% endblock %}

{% block body %}'
    <div class="container">
        <h1>{{ logincheck }}</h1><hr>
        <a href='{% url "account_details" user_id=user_info.USER_ID %}' class="btn btn-outline-success">
            Show Account Details
        </a>
        <hr>
        <a href='{% url "home" %}' class="btn btn-outline-success">
            Home
        </a>

    </div>
{% endblock %}