{% extends 'base.html' %}

{% block head %}
    <title>LOGOUT</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="">See ya!!</h1>
        <small class="text-muted">(You are now logged out)</small>
        <br><br><br>
        <p class="text-muted">Want to login again?</p>
        <a href='{% url "login" %}' class="btn btn-outline-success">
            Go to Login Page
        </a>
    </div>
{% endblock %}