{% extends 'base.html' %}

{% block head %}
    <title>Notification</title>
{% endblock %}

{% block body %}
<h1 align="center"><i>Notification</i><hr></h1>
<div class="container">
    <h3><i>You have these events in near future!</i></h3>
    <div class="container">
        <hr>
        <div class="container">
        {% for e in today_events %}
            <a href='{% url "event_post_list" event_id=e.EVENT_ID %}' class="btn btn-outline-default">
                Event-{{e.EVENT_ID}}[Event name-{{e.EVENT_NAME}}]
            </a>
            <hr>
        {% endfor %}
        </div>
    </div>
    <br>

    <h3><i>Your most recent Event invitations!</i></h3>
    <div class="container">
        <hr>
        <div class="container">
        {% for e in events %}
            <a href='{% url "event_post_list" event_id=e.EVENT_ID %}' class="btn btn-outline-default">
                Event-{{e.EVENT_ID}}[Event name-{{e.EVENT_NAME}}]
            </a>
            <hr>
        {% endfor %}
        </div>
    </div>
    <br>

    <h3><i>You have recently been added to these groups!</i></h3>
    <div class="container">
        <hr>
        <div class="container">
        {% for e in groups %}
            <a href='{% url "group_post_list" group_id=e.GROUP_ID %}' class="btn btn-outline-default">
                Group-{{e.GROUP_ID}}[Group name-{{e.GROUP_NAME}}]
            </a>
            <hr>
        {% endfor %}
        </div>
    </div>
    <br>


    <h3><i>Your most recent friend requests!:</i></h3>
    <ul>
        {% for user in requests %}
        <li>
            <a href='{% url "account_details" user_id=user.SENDER_ID %}' class="btn btn-outline-default">{{user.USERNAME}}</a>
            <a href='{% url "request_accept" user_id=user.SENDER_ID %}' class="btn btn-outline-success">Accept</a>
            <a href='{% url "request_reject" user_id=user.SENDER_ID %}' class="btn btn-outline-danger">Reject</a>
        </li>
        {% endfor %}
    </ul>
    <br>
</div>
{% endblock %}