{% extends 'base.html' %}

{% block head %}
    <title>Registration Page</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Register Here:</h1><hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="btn btn-outline-danger" type="reset">Reset</button><hr>
            {{form.as_p}}
            <!-- <input type="file" name="profile_pic"> -->
            <hr>
            <button class="btn btn-outline-success" type="submit">Submit</button><hr>
        </form>
    </div>
{% endblock %}