{% extends 'base.html' %}

{% block head %}
    <title>Registration Success</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Congrates!</h1>
        <br>
        <h3>Your account has been created!</h3>
        <a href='{% url "login" %}' class="btn btn-outline-success">
            Go to Login Page
        </a>
    </div>
{% endblock %}