{% extends 'base.html' %}

{% block head %}
    <title>Followers and Following List</title>
{% endblock %}

{% block body %}

{% if follower_list or following_list %}
<ul>
    <h5><i>Followers:</i></h5>
        <div class="container-fluid">
            {% for user in follower_list %}
            <a href='{% url "account_details" user_id=user.USER_ID %}' class="btn btn-default">{{user.USERNAME}}</a>
            <br>
            {% endfor %}
        </div>
    <hr>
    <h5><i>Following:</i></h5>
        <div class="container-fluid">
            {% for user in following_list %}
            <a href='{% url "account_details" user_id=user.USER_ID %}' class="btn btn-default">{{user.USERNAME}}</a>
            <br>
            {% endfor %}
        </div>

</ul>
{% else %}
<h1>No user.</h1>
{% endif %}
{% endblock %}