{% extends 'base.html' %}

{% block head %}
    <title>Request</title>
{% endblock %}

{% block body %}

<div class="container">
    <h3>Request {{state}}</h3>
    {% if state == 'accepted!' %}
    Now you are friend with <b>{{username}}</b>!!
    {% endif %}
    <br>
    <br>
    <a href='{% url "friend_request" %}' class="btn btn-default">Go back to friend request page</a>
    <br>
    <a href='{% url "account_details" user_id=u_id %}' class="btn btn-default">Go to the person's profile</a>
</div>
{% endblock %}