{% extends 'base.html' %}

{% block head %}
    <title>Request Sent</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <h3>Request Sent!!</h3>
    <a href='{% url "account_details" user_id=u_id %}' class="btn btn-outline-danger">Go back to the profile</a>
</div>
{% endblock %}