{% extends 'base.html' %}

{% block head %}
    <title>{{list_title}}</title>
{% endblock %}

{% block body %}

{% if all_users %}
<h1>Friend list:</h1>
<ul>
    {% for user in all_users %}
    <li>
        <a href='{% url "account_details" user_id=user.USER_ID %}'  class="btn btn-default">{{user.USERNAME}}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<h1>No user.</h1>
{% endif %}
{% endblock %}