{% extends 'base.html' %}

{% block head %}
    <title>User list</title>
{% endblock %}

{% block body %}

{% if all_users %}
<ul>
    {% for user in all_users %}
    <li><a href="/user_account/{{ user.user_id }}/" class="btn btn-default">{{user.username}}</a></li>
    {% endfor %}
</ul>
{% else %}
<h1>No user.</h1>
{% endif %}
{% endblock %}