{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <h1>Login body</h1>
    <p>
        Log in here!
    </p>
    <hr>
    <form method="post">
        {% csrf_token %} <!-- security check for django -->
        {{ form.as_p }}
        <button class="btn btn-default" type="submit">Login</button>
    </form>
    {% endblock %}
</div>