{% extends 'base.html' %}

{% block head %}
    <title>Post</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Post</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>

    </div>
{% endblock %}