{% extends 'base.html' %}

{% block head %}
    <title>Posts</title>
{% endblock %}

{% block body %}
<a href='{% url "home" %}' class="btn btn-outline-success">Go Home</a>
<hr>
    <div class="container-fluid">
        <h1>Posts:</h1>
        <hr>
        {% for post in posts %}
            <b>post_id:</b> {{post.POST_ID}}<br>
            <b>post:</b> {{post.POST_TEXT}}<br>
            <!--
            <b>posted_by:</b> {{post.POSTED_BY_ID}}<br>
            <b>posted_on:</b> {{post.POSTED_ON_ID}}<br>
            <b>privacy:</b> {{post.PRIVACY}}<br>
            -->
            <b>date and time:</b> {{post.POST_TIME}}<br>
            <a href='{% url "post_details" post_id=post.POST_ID %}' class="btn btn-outline-danger">
                Go to post
            </a>
            <hr>
        {% endfor %}

    </div>
{% endblock %}