{% extends 'base.html' %}

{% block head %}
    <title>Post Details</title>
{% endblock %}

{% block body %}
    <a href='{% url "all_posts" %}' class="btn btn-outline-danger">Go back to  All Posts</a>
    <hr>
    <div class="container-fluid">
        <b><i>{{post.U1NAME}}</i> -->> <i>{{post.U2NAME}}</i></b><br>
        <small class="text-muted"><b>date and time:</b> {{post.POST_TIME}}<br></small><hr>
        <h4>post:</h4><p>{{post.POST_TEXT}}</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_table }}
            <button class="btn btn-default" type="submit">Comment</button>
        </form>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ react_form.as_table }}
            <button class="btn btn-default" type="submit">React</button>
        </form>
        <hr>
        <h3>Likes: {{like_count}}</h3>
        <h3>Dislikes: {{dislike_count}}</h3>
        <h3>Comments: <small class="text-muted">({{comment_count}})</small></h3>
        <div class="container">
            <ul>
            {% for comment in all_comments %}
                <li><strong><i>{{comment.USERNAME}}</i></strong>:  {{comment.COMMENT_TEXT}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

