<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        {% load staticfiles %}
    <!--bootstrap css code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{% static 'test2/style.css' %}" type="text/css"> -->
    {% block stylesheet %}{% endblock %}
    {% block head %}
        <title>Base Head</title>
    {% endblock %}



</head>

<body>
    <br>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href='{% url "home" %}'><i>Social Net<small class="text-muted"> (Home)</small></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item">
                  <a class="nav-link" href='{% url "home" %}'>
                      Home
                  </a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link" href='{% url "all_group_list" %}'>Groups</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href='{% url "all_event_list" %}'>Events</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href='{% url "messenger" %}'>Messenger</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href='{% url "notification" %}'>Notification</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href='{% url "relation_home" %}'>Connectivity</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="#"></a>
              </li>
              <div class="container">
                  <form class="form-inline my-2 my-lg-0" method="POST" action='{% url "normal_search" %}'>
                      {% csrf_token %}
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="key_word" required>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              </div>
            </ul>
        </div>
        <a class="btn btn-outline-danger" href='{% url "logout" %}'>Logout!</a>
    </nav>
    <hr>
    <br>

    {% block body %}
        <h1>::Base Body::</h1>
    {% endblock %}
    <!-- <script src="{% static 'js/app.js' %}"></script> -->
    {% block javascript %}{% endblock %}

</body>
</html>