{% extends 'base.html' %}

{% block head %}
    <title>Convo</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <a href='{% url "inbox" %}' class="btn btn-outline-success">Go back to inbox</a>
</div>
    <div class="container">
        <table>
            <tr><td><h3>ConvoBox:</h3></td>
                <td>
                    <div class="container col-md-6">
                        <span class="pull-right">
                            <form method="post">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button class="btn btn-outline-danger" type="submit">
                                    Send
                                </button>
                                <a href='{% url "conversation" conv_id=convo_id %}'>Reload</a>
                                <a name="target"></a>
                            </form>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <hr>
        {% if length != 0 %}
            {% for msg in messages %}
                <strong>
                {% if msg.ID == user_id %}
                    me:
                {% else %}
                    {{msg.SENDER_NAME}}:
                {% endif %}
                </strong>
                {{msg.MESSAGE_TEXT}}
                <br>
                <div class="container"><small class="text-muted">{{msg.SEND_TIME}}</small></div>
                <hr>
            {% endfor %}
        {% else %}
            <h3>No Convo yet!</h3>
        {% endif %}

    </div>
{% endblock %}