{% extends 'base.html' %}

{% block head %}
    <title>Convo</title>
{% endblock %}

{% block body %}
    <div class="container">
        <a href='{% url "inbox" %}' class="btn btn-outline-danger">Go back to inbox</a>
        <a href='{% url "conversation" conv_id=convo_id %}' class="btn btn-outline-danger">Go to convo!</a>
    </div>
{% endblock %}