{% extends 'base.html' %}

{% block head %}
    <title>Create Event</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Create a new event here:</h3>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-outline-success" type="submit">Create Event</button>
        </form>

    </div>
{% endblock %}