{% extends 'base.html' %}

{% block head %}
    <title>Event-{{event_id}}</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Event-{{event_id}}</h1>
        <a href='{% url "all_event_list" %}' class="btn btn-outline-danger">Back to Event List</a>
        <br><br>
        <a href='{% url "event_members" event_id=event_id %}' class="btn btn-outline-danger">Event Members</a>
        <!-- show all the event participants(going, not_going and the rest) -->
        <a href='{% url "event_post" event_id=event_id %}' class="btn btn-outline-danger">
            Post in this event
        </a>
        <a href='{% url "invite_member" event_id=event_id %}' class="btn btn-outline-danger">
            Invite people to this event
        </a>
        <hr>
        <h4>Event Details:</h4>
        <div class="container">
            <table class="table table-hover table-striped">
                <tr><td><i>Event Name: </i></td><td>{{event_details.EVENT_NAME}}</td></tr>
                <tr><td><i>Event Date and time: </i></td><td>{{event_details.EVENT_DATE_TIME}}</td></tr>
                <tr><td><i>Event Place: </i></td><td>{{event_details.EVENT_PLACE}}</td></tr>
                <tr><td><i>Event Created On: </i></td><td>{{event_details.CREATE_DATE}}</td></tr>
                <tr><td><i>Event Created By: </i></td><td>{{event_details.CREATOR_ID}}-????</td></tr>
                <tr><td><i>Description: </i></td><td>{{event_details.DESCRIPTION}}</td></tr>
                <tr><td><i>Going: </i></td><td>{{going_number}}</td></tr>
                <tr><td><i>Not Going: </i></td><td>{{not_going_number}}</td></tr>
                <tr><td><i>Interested: </i></td><td>{{interested_number}}</td></tr>
                <tr><td><i>Invited: </i></td><td>{{invited_number}}</td></tr>
            </table>
        </div>
        <hr>
        <h4>Event Posts:</h4>
        {% for post in posts %}
            <b>post_id:</b> {{post.EVENT_POST_ID}}<br>
            <b>posted_by_id:</b> {{post.POSTED_BY_ID}}<br>
            <b>post:</b> {{post.EVENT_POST_TEXT}}<br>
            <b>date and time:</b> {{post.EVENT_POST_TIME}}<br>
            <a href='{% url "event_post_details" event_id=post.EVENT_ID post_id=post.EVENT_POST_ID %}' class="btn btn-outline-danger">
                Go to post
            </a>
            <hr>
        {% endfor %}

    </div>
{% endblock %}