{% extends 'base.html' %}

{% block head %}
    <title>Event List</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <a href='{% url "home" %}' class="btn btn-outline-danger">Go home</a>
        <a href='{% url "create_event" %}' class="btn btn-outline-success">Create New Event</a>
        <h1>Event List:</h1>
        <hr>
        {% for event in event_list %}
            <a href='{% url "event_post_list" event_id=event.EVENT_ID %}' class="btn btn-outline-danger">Event-{{event.EVENT_ID}}-{{event.EVENT_NAME}}</a>
            <hr>
        {% endfor %}

    </div>
{% endblock %}