{% extends 'base.html' %}

{% block head %}
    <title>Event Creation Success</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>You successfully created a new event!!</h3>
        <small class="text-muted">Want to see the new event?</small><hr>
        <a href='{% url "event_post_list" event_id=event_id %}' class="btn btn-outline-danger">Go to the Event</a>
    </div>
{% endblock %}