{% extends 'base.html' %}

{% block head %}
    <title>Post Details</title>
{% endblock %}

{% block body %}
    <a href='{% url "event_post_list" event_id=post.EVENT_ID %}' class="btn btn-outline-danger">Go back to Event Post list</a>
    <hr>
    <div class="container-fluid">
        <b><i>{{post.U1NAME}}</i></b><br>
        <small class="text-muted"><b>date and time:</b> {{post.EVENT_POST_TIME}}<br></small><hr>
        <h4>post:</h4><p>{{post.EVENT_POST_TEXT}}</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button class="btn btn-default" type="submit">Comment</button>
        </form>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ react_form.as_p }}
            <button class="btn btn-default" type="submit">React</button>
        </form>
        <hr>
        <h4>Likes: {{like_count}}</h4>
        <h4>Dislikes: {{dislike_count}}</h4>
        <h4>Comments: <small class="text-muted">({{comment_count}})</small></h4>
        <ul>
        {% for comment in all_comments %}
            <li><i>{{comment.USERNAME}}</i>:  {{comment.COMMENT_TEXT}}</li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

