{% extends 'base.html' %}

{% block head %}
    <title>Inbox</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <a href='{% url "other_users" %}' class="btn btn-outline-success">Other Users</a>
    <hr>
</div>
    <div class="container">
        <h3>Inbox:</h3>
        {% if length != 0 %}
            {% for conv in convs %}
                <a href='{% url "conversation" conv_id=conv.0.CONVERSATION_ID %}' class="btn btn-outline-danger">
                    convo: {% for user in conv %}{{user.USERNAME}},{% endfor %}
                </a>
                <hr>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}