{% extends 'base.html' %}

{% block head %}
    <title>Invite People</title>
{% endblock %}

{% block body %}
    <div class="container">
        {% for user in users %}
            <a href='{% url "member_invited" event_id=event_id user_id=user.USER_ID %}'>{{user.USERNAME}}</a>
            <hr>
        {% endfor %}
    </div>
{% endblock %}