{% extends 'base.html' %}

{% block head %}
    <title>Message User</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <hr>
    <a href='{% url "inbox" %}' class="btn btn-outline-success">Inbox</a>
    <a href='{% url "other_users" %}' class="btn btn-outline-success">Other users</a>
    <hr>
</div>
    <div class="container">
        <h3>ConvoBox:</h3>
        <hr>
        <a href='{% url "conversation" conv_id=convo_id %}' class="btn btn-outline-danger">Go to convo</a>
        <hr>
        <a href='{% url "account_details" user_id=uid %}' class="btn btn-outline-danger">user profile</a>
        <hr>

    </div>
{% endblock %}