{% extends 'base.html' %}

{% block head %}
    <title>Create Event</title>
{% endblock %}

{% block body %}
    <h1 align="center"><i>Messenger</i></h1><hr>
    <div class="container">
        <a href='{% url "inbox" %}' class="btn btn-outline-danger">Inbox</a>
        <hr>
        <a href='{% url "other_users" %}' class="btn btn-outline-danger">Other Users</a>
        <br>
        <br>
        <a href='{% url "start_group_convo" %}' class="btn btn-outline-danger">Start a group convo</a>

    </div>
{% endblock %}