{% extends 'base.html' %}

{% block head %}
    <title>Other Users</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <a href='{% url "inbox" %}' class="btn btn-outline-success">Inbox</a>
    <hr>
</div>
    <div class="container">
        <h3>Other Users</h3>
        {% if length != 0 %}
            {% for user in users %}
                <a href='{% url "message_user" uid=user.USER_ID %}' class="btn btn-outline-danger">
                    {{user.USERNAME}}
                </a>
                <small class="text-muted">({{user.ONLINE_CHECK}})</small>
                <hr>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}