{% extends 'base.html' %}

{% block head %}
    <title>Start a convo!</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Start a convo!</h3>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-outline-success" type="reset">Reset</button>
            {{form.as_p}}
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}