<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        {% load staticfiles %}
    <!--bootstrap css code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{% static 'test2/style.css' %}" type="text/css"> -->
    {% block stylesheet %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block head %}
        <title>Base Head</title>
    {% endblock %}



</head>

<body>
    <br>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <hr>

    {% block body %}
        <h1>::Base Body::</h1>
    {% endblock %}
    <!-- <script src="{% static 'js/app.js' %}"></script> -->
    {% block javascript %}{% endblock %}

</body>
</html>