{% extends 'base.html' %}

{% block head %}
    <title>Event Participation</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h2>You chose: <i>{{state}}</i></h2>
        <a href='{% url "event_post_list" event_id=event_id %}' class="btn btn-outline-danger">Go back</a>
    </div>
{% endblock %}