{% extends 'base.html' %}

{% block head %}
    <title>Post Details</title>
{% endblock %}

{% block body %}
    <a href='{% url "event_post_list" event_id=post.EVENT_ID %}' class="btn btn-outline-danger">Go back to the Event</a>
    <hr>
    <div class="container-fluid">
        <b><i><h5>Posted by: <a href='{% url "account_details" user_id=post.U1_ID %}'>{{post.U1NAME}}</a></h5></i></b>
                <small class="text-muted">(<b>date and time:</b> {{post.EVENT_POST_TIME}})<br></small>
        <div class="#">
        <table class="table table-hover">
            <tr>
                <td class="col-md-1"><h4 class="text-secondary"><i>post:</i></h4></td>
                <td><h5>{{post.EVENT_POST_TEXT}}</h5></td>
            </tr>
        </table>
        </div>

        <div class="container-fluid">
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_table }}
                <button class="btn btn-outline-primary" type="submit">Comment</button>
            </form>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ react_form.as_table }}
                <button class="btn btn-outline-secondary" type="submit">React</button>
            </form>
        </div>
        <br>
        <table class="table table-sm table-hover table-light">
            <tr><td><h5><i>Likes: {{like_count}}</i></h5></td>
                <td><h5><i>Dislikes: {{dislike_count}}</i></h5></td>
            <!-- <td><h5>Comments: <small class="text-muted">({{comment_count}})</small></h5></td></tr> -->
        </table>
        <h3><i>Comments<small class="text-muted">({{comment_count}})</small></i></h3>
        <div class="container-fluid">
        <table class="table table-hover table-light">
        {% for comment in all_comments %}
            <tr>
                <td class="col-md-1"><h5><i><a href='{% url "account_details" user_id=my_id %}'>
                    {{comment.USERNAME}}</a></i>:</h5>
                </td>
                <td>{{comment.COMMENT_TEXT}}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
    </div>

{% endblock %}

