{% extends 'base.html' %}

{% block head %}
    <title>Event Participants</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Event Participants:</h3>
        <hr>
        <div class="container">
        {% for member in members %}
            <a href='{% url "account_details" user_id=member.USER_ID %}' class="btn btn-outline-danger">
                {{member.USERNAME}}
            </a><p class="text-muted"> -> {{member.STATE_OF_PARTICIPATION}} </p>
            <hr>
        {% endfor %}
        </div>
    </div>
{% endblock %}