{% extends 'base.html' %}

{% block head %}
    <title>Events</title>
{% endblock %}

{% block body %}
<h1 align="center"><i>Events</i><hr></h1>
    <div class="container-fluid">
        <!-- <a href='{% url "home" %}' class="btn btn-outline-danger">Go home</a>
        <br><br> -->
        <a href='{% url "create_event" %}' class="btn btn-outline-success">Create New Event</a>
        <a href='{% url "event_invitations" %}' class="btn btn-outline-success">Your Event Invitations</a>
        <hr>
        <div class="#">
            <div class="container">
            {% for event in event_list %}
                <a href='{% url "event_post_list" event_id=event.EVENT_ID %}' class="btn btn-outline-danger">Event-{{event.EVENT_ID}}-{{event.EVENT_NAME}}</a>
                <hr>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}