{% extends 'base.html' %}

{% block head %}
    <title>Create Event</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>You are invited in these events:</h3>
        <hr>
        <div class="container">
        {% for e in events %}
            <a href='{% url "event_post_list" event_id=e.EVENT_ID %}'>Event-{{e.EVENT_ID}}</a>
            <hr>
        {% endfor %}
        </div>
    </div>
{% endblock %}