{% extends 'base.html' %}

{% block head %}
    <title>Invite People</title>
{% endblock %}

{% block body %}
    <div class="container">

        {% for user in users %}
            {% if user.USER_ID != my_id %}
                <a href='{% url "member_invited" event_id=event_id user_id=user.USER_ID %}'>{{user.USERNAME}}</a>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}