{% extends 'base.html' %}

{% block head %}
    <title>Invitation Sent!</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Invited Successfully!</h3>
        <a href='{% url "event_post_list" event_id=event_id %}' class="btn btn-outline-danger">
            Go back to event page
        </a>
        <hr>
    </div>
{% endblock %}