{% extends 'base.html' %}

{% block head %}
    <title>Advanced Search "{{key_word}}"</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h4><i>Advanced Search result for: "{{key_word}}"</i></h4>
        <hr>
    </div>
    <div class="container">
        <h3><i>Wall Posts:</i></h3>
        <div class="container">
            <ul>
            {% for post in posts %}
                <li>
                    <a href='{% url "post_details" post_id=post.POST_ID %}' class="btn btn-outline-default">
                        <table>
                            <tr align="left"><th><i>{{post.U1NAME}}->{{post.U2NAME}}</i></th></tr>
                            <tr><td align="left"><small class="text-muted"><b>date-time:</b> {{post.POST_TIME}}</small></td></tr>
                            <tr><td align="left"><small class="text-muted"><b>post:</b> {{post.POST_TEXT}}</small></td></tr>
                        </table>
                    </a>
                    <br>
                    <br>
                </li>
            {% endfor %}
            </ul>
        </div>
        <hr>

        <h3><i>Group Posts:</i></h3>
        <div class="container">
            <ul>
            {% for post in group_posts %}
                <li>
                    <a href='{% url "group_post_details" group_id=post.GROUP_ID post_id=post.GROUP_POST_ID %}' class="btn btn-outline-default">
                        <table>
                            <tr align="left"><th><i>{{post.U1NAME}}->Group:{{post.GROUP_ID}} [group name: {{post.G_NAME}}]</i></th></tr>
                            <tr><td align="left"><small class="text-muted"><b>date-time:</b> {{post.GROUP_POST_TIME}}</small></td></tr>
                            <tr><td align="left"><small class="text-muted"><b>post:</b> {{post.GROUP_POST_TEXT}}</small></td></tr>
                        </table>
                    </a>
                    <br>
                    <br>
                </li>
            {% endfor %}
            </ul>
        </div>
        <hr>

        <h3><i>Event Posts:</i></h3>
        <div class="container">
            <ul>
            {% for post in event_posts %}
                <li>
                    <a href='{% url "event_post_details" event_id=post.EVENT_ID post_id=post.EVENT_POST_ID %}' class="btn btn-outline-default">
                        <table>
                            <tr align="left"><th><i>{{post.U1NAME}}->Event:{{post.EVENT_ID}} [event name: {{post.E_NAME}}]</i></th></tr>
                            <tr><td align="left"><small class="text-muted"><b>date-time:</b> {{post.EVENT_POST_TIME}}</small></td></tr>
                            <tr><td align="left"><small class="text-muted"><b>post:</b> {{post.EVENT_POST_TEXT}}</small></td></tr>
                        </table>
                    </a>
                    <br>
                    <br>
                </li>
            {% endfor %}
            </ul>
        </div>
        <hr>

        <h3><i>Group Descriptions:</i></h3>
        <div class="container">
            <ul>
            {% for g in group_descriptions %}
                <li>
                    <a href='{% url "group_post_list" group_id=g.GROUP_ID %}' class="btn btn-outline-default">
                        <table>
                            <tr align="left"><th><i>Group:{{g.GROUP_ID}} [group name: {{g.GROUP_NAME}}]</i></th></tr>
                            <tr><td align="left"><small class="text-muted"><b>description:</b> {{g.DESCRIPTION}}</small></td></tr>
                        </table>
                    </a>
                    <br>
                    <br>
                </li>
            {% endfor %}
            </ul>
        </div>
        <hr>

        <h3><i>Event Descriptions:</i></h3>
        <div class="container">
            <ul>
            {% for e in event_descriptions %}
                <li>
                    <a href='{% url "event_post_list" event_id=e.EVENT_ID %}' class="btn btn-outline-default">
                        <table>
                            <tr align="left"><th><i>Event:{{e.EVENT_ID}} [event name: {{e.EVENT_NAME}}]</i></th></tr>
                            <tr><td align="left"><small class="text-muted"><b>description:</b> {{e.DESCRIPTION}}</small></td></tr>
                        </table>
                    </a>
                    <br>
                    <br>
                </li>
            {% endfor %}
            </ul>
        </div>
        <hr>

        <!-- Normal Search Results -->
        <h3><i>Users:</i></h3>
        <div class="container">
            {% for user in users %}
                <a href='{% url "account_details" user_id=user.USER_ID %}' class="btn btn-outline-default">
                    {{user.USERNAME}} <small class="text-muted">({{user.FIRST_NAME}} {{user.LAST_NAME}})</small>
                </a>
                <br>
            {% endfor %}
        </div>
        <hr>
        <h3><i>Groups:</i></h3>
        <div class="container">
            {% for group in groups %}
                <a href='{% url "group_post_list" group_id=group.GROUP_ID %}' class="btn btn-outline-default">
                    {{group.GROUP_NAME}}
                </a>
                <br>
            {% endfor %}
        </div>
        <hr>
        <h3><i>Events:</i></h3>
        <div class="container">
            {% for event in events %}
                <a href='{% url "event_post_list" event_id=event.EVENT_ID %}' class="btn btn-outline-default">
                    {{event.EVENT_NAME}}
                </a>
                <br>
            {% endfor %}
        </div>
        <hr>
    </div>
{% endblock %}