{% extends 'base.html' %}

{% block head %}
    <title>Search '{{key_word}}'</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h4><i>Search result for: "{{key_word}}"</i></h4>
        <hr>
        <form method="post" action='{% url "advanced_search" %}'>
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-outline-success" type="submit">Advanced Search</button>
        </form>
        <!-- <a href='{% url "advanced_search" %}' class="btn btn-outline-danger"><i>Advanced Search</i></a> -->
        <hr>
        <h3><i>Users:</i></h3>
        <div class="container">
            {% for user in users %}
                <a href='{% url "account_details" user_id=user.USER_ID %}' class="btn btn-outline-default">
                    {{user.USERNAME}} <small class="text-muted">({{user.FIRST_NAME}} {{user.LAST_NAME}})</small>
                </a>
                <br>
            {% endfor %}
        </div>
        <hr>
        <h3><i>Groups:</i></h3>
        <div class="container">
            {% for group in groups %}
                <a href='{% url "group_post_list" group_id=group.GROUP_ID %}' class="btn btn-outline-default">
                    {{group.GROUP_NAME}}
                </a>
                <br>
            {% endfor %}
        </div>
        <hr>
        <h3><i>Events:</i></h3>
        <div class="container">
            {% for event in events %}
                <a href='{% url "event_post_list" event_id=event.EVENT_ID %}' class="btn btn-outline-default">
                    {{event.EVENT_NAME}}
                </a>
                <br>
            {% endfor %}
        </div>
        <hr>
    </div>
{% endblock %}