{% extends 'base.html' %}

{% block head %}
    <title>Add Member</title>
{% endblock %}

{% block body %}
    <div class="container">
        {% for user in users %}
            {% if user.USER_ID != my_id %}
                <a href='{% url "member_added" group_id=group_id user_id=user.USER_ID %}'>{{user.USERNAME}}</a>
                <hr>
            {% endif %}
        {% endfor %}
        <!-- {{admin_form.as_p}} -->
    </div>
{% endblock %}