{% extends 'base.html' %}

{% block head %}
    <title>Group Creation Success</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>You successfully created a new group!!</h3>
        <small class="text-muted">Want to see the new group?</small><hr>
        <a href='{% url "group_post_list" group_id=group_id %}' class="btn btn-outline-danger">Go to the Group</a>
    </div>
{% endblock %}