{% extends 'base.html' %}

{% block head %}
    <title>Post Details</title>
{% endblock %}

{% block body %}
    <a href='{% url "group_post_list" group_id=post.GROUP_ID %}' class="btn btn-outline-danger">Go back to Group Post list</a>
    <hr>
    <div class="container-fluid">
        <b><i><h5>Posted by: <a href='{% url "account_details" user_id=post.U1_ID %}'>{{post.U1NAME}}</a></h5></i></b>
        <small class="text-muted">(<b>date and time:</b> {{post.GROUP_POST_TIME}})<br></small>
        <table class="table table-hover">
            <tr>
                <td class="col-md-1"><h4>post:</h4></td>
                <td><p>{{post.GROUP_POST_TEXT}}</p></td>
            </tr>
        </table>

        <div class="container-fluid">
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_table }}
                <button class="btn btn-outline-primary" type="submit">Comment</button>
            </form>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ react_form.as_table }}
                <button class="btn btn-outline-secondary" type="submit">React</button>
            </form>
        </div>
        <hr>
        <table class="table table-sm table-hover table-light table-">
            <tr><td><h5><i>Likes: {{like_count}}</i></h5></td><td></td>
                <td><h5><i>Dislikes: {{dislike_count}}</i></h5></td>
            </tr>
        </table>
        <h3><i>Comments: <small class="text-muted">({{comment_count}})</small></i></h3>
        <div class="container-fluid">
        <table class="table table-hover table-light">

        {% for comment in all_comments %}
            <tr><td class="col-md-1"><h5><i>
                <a href='#'>
                    {{comment.USERNAME}}
                </a></i></h5>
            </td>
            <td> {{comment.COMMENT_TEXT}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}

