{% extends 'base.html' %}

{% block head %}
    <title>Post</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h4>Posted Successfully!</h4>
        <small class="text-muted">Want to see your post?</small>
        <br>
        <br>
        Go to current <a href='{% url "group_post_details" group_id=group_id post_id=post.POST_ID %}' >post</a>

    </div>
{% endblock %}