{% extends 'base.html' %}

{% block head %}
    <title>Group List</title>
{% endblock %}

{% block body %}
<h1 align="center"><i>Groups</i></h1><hr>
    <div class="container-fluid">
        <!-- <a href='{% url "home" %}' class="btn btn-outline-danger">Go home</a> -->
        <a href='{% url "create_group" %}' class="btn btn-outline-success">Create New Group</a>
        <hr>
        <div class="container">
            {% for group in group_list %}
                <a href='{% url "group_post_list" group_id=group.GROUP_ID %}' class="btn btn-outline-danger">Group-{{group.GROUP_ID}}-{{group.GROUP_NAME}}</a>
                <hr>
            {% endfor %}
        </div>

    </div>
{% endblock %}