{% extends 'base.html' %}

{% block head %}
    <title>Group Members</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Group Members:</h3>
        <hr>
        {% for member in members %}
            <a href='{% url "account_details" user_id=member.USER_ID %}' class="btn btn-outline-danger">
                {{member.USERNAME}}
            </a>
            <hr>
        {% endfor %}

    </div>
{% endblock %}