{% extends 'base.html' %}

{% block head %}
    <title>LOGIN SUCCESS</title>
{% endblock %}

{% block body %}
    <h1>{{ logincheck }}</h1><hr>
    {{user_info}}
    <div class="container">
        <!-- ????? -->
    </div>
{% endblock %}