{% extends 'base.html' %}

{% block head %}
    <title>Member Added</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Member Added Successfully!</h3>
        <a href='{% url "group_post_list" group_id=group_id %}' class="btn btn-outline-danger">
            Go back to group
        </a>
        <hr>
    </div>
{% endblock %}