{% extends 'base.html' %}

{% block head %}
    <title>Group-{{group_id}}</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Group-{{group_id}}</h1>
        <a href='{% url "all_group_list" %}' class="btn btn-outline-danger">Back to Group List</a>
        <br><br>
        <a href='{% url "group_members" group_id=group_id %}' class="btn btn-outline-danger">Group Members</a>
        <a href='{% url "group_post" group_id=group_id %}' class="btn btn-outline-danger">
            Post in this group
        </a>
        <a href='{% url "add_member" group_id=group_id %}' class="btn btn-outline-danger">
            Add member
        </a>
        <hr>
        <h4>Group Details:</h4>
        <div class="container">
            <table class="table table-hover table-striped">
                <tr><td><i>Group Name: </i></td><td>{{group_details.GROUP_NAME}}</td></tr>
                <tr><td><i>Description: </i></td><td>{{group_details.DESCRIPTION}}</td></tr>
                <tr><td><i>Total Members: </i></td><td>{{member_number}}</td></tr>
                <!-- <tr><td><i>Admins: </i></td>
                    <td>
                    {% for admin in admins %}
                        <a href='{% url "account_details" user_id=admin.USER_ID %}' class="btn btn-outline-danger">
                            {{admin.USERNAME}}
                        </a>
                        <hr>
                    {% endfor %}</td>
                </tr> -->
            </table>
        </div>
        <hr>
        <h4>Group Posts:</h4>
        {% for post in posts %}
            <b>post_id:</b> {{post.GROUP_POST_ID}}<br>
            <b>post:</b> {{post.GROUP_POST_TEXT}}<br>
            <b>date and time:</b> {{post.GROUP_POST_TIME}}<br>
            <a href='{% url "group_post_details" group_id=post.GROUP_ID post_id=post.GROUP_POST_ID %}' class="btn btn-outline-danger">
                Go to post
            </a>
            <hr>
        {% endfor %}

    </div>
{% endblock %}