{% extends 'base.html' %}

{% block head %}
    <title>Registration Head</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Registration_body</h1>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-outline-success" type="reset">Reset</button>
            {{form.as_p}}
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}